.wrapper {
	position:absolute;
 	top:2%;
 	right:5%;
 	background: #DCDCDC;
 	padding: 30px;
 	width:15%;

}
#changeText {
	border:1px solid black;
	padding: 10px;
	text-align: center;
}
#close {
	position: absolute;
	top:0;
	right: 0;
	background: #DCDCDC;
	outline: none;
}
.footer {
	display: flex;
	margin-top: 30px;
	justify-content: space-between;
}
#prev, #next {
	border-radius: 50%;
}
